@{
    Layout = null;
}

<div class="hero-unit">
    <h1>Contact Us</h1>
</div>
<div class="row">
    <div class="span1 text-info">
        Name: 
    </div>
    <div class="span3">
        <p>{{FullName}}</p>
    </div>
</div>
<div class="row">
    <div class="span1 text-info">
        Contact Details:
    </div>
    <div class="span4">
        <p><a href="mailto:{{Email}}?Subject=CM Test.">{{Email}}</a> </p>
        <p><a href="{{Web}}">{{Web}}</a></p>
        <p><a href="skype: {{Phone}}">{{Phone}}</a></p>
    </div>
</div>
 
