@{
    Layout = null;
}
<div class="hero-unit">
    <h1>C# Test Result</h1>
</div>
<div class="row">
    <div class="span11">
        <img src="~/Content/Images/CSharpTestResult.PNG" />
    </div>
</div>


