@{
    Layout = null;
}

<div class="hero-unit">
    <h1>Welcome - Campaign Monitor Test Program</h1>
    <p>You will find everything about the test exercise.</p>
</div>
<div class="row">
    <div class="span4">
        <h3>C# Test</h3>
        <p>
            Objective is to find if the developer knows about .Net 4.0 or above.

            The following concepts have been demonstrated: <br /><br />
            1. LINQ<br />
            2. Extension methods<br />
            3. Object Oriented Approach<br />
            4. UNIT Testing<br />
            5. Usage of StyleCop <br /> <br />
            The result can be seen by executing Test plans developed within.
        </p>
        <p>
            <a class="btn" href="#/csharptest">Learn More »</a>
        </p>
    </div>
    <div class="span4">
        <h3>Javascript Test </h3>
        <p>
            Oh wow!
            Let see if I know Javascript. Well not really that I know JavaScript but probably the result
            may help us to find this out.
            How about you click on learn more and play around with the result?

            The following concepts have been demonstrated: <br /><br />
            1. Extension methods<br />
            2. Object Oriented Approach<br />
            3. JQUERY<br />
            4. JQUERY PLUGINS<br /> <br />
        </p>
        <p>
            <a class="btn" href="#/javascripttest">Learn More »</a>
        </p>
    </div>
    <div class="span4">
        <h3>Server Side Test</h3>
        <p>
            Well! It is the last but not least.
            In this part of test I have demonstrated that although I don't know everything
            but I can put through something that can be practical to solve and at the same 
            time best use of available frameworks!


            The following concepts have been demonstrated: <br /><br />
            1. Using MVC 4.0 with .Net 4.5<br />
            2. Object Oriented Approach<br />
            3. AngularJS for UI MVC<br />
            4. ASP.NET WEBAPI<br /> <br />

            How about clicking below and check out? 

        </p>
        <p>
            <a class="btn" href="#/service">Learn More »</a>
        </p>
    </div>
</div>

